.confirm{
	height: 100vh;
	overflow: hidden;
	
	@include media(990px){
		overflow: auto;
	}

	&__container{
		&-1{
			height: 53vh;
			display: flex;
			justify-content: center;
			align-content: flex-end;
			width: 70%;
    		margin: 0 26%;

			@include media(990px){
				// align-content: center;
				width: 100%;
				margin: 0 auto;
			}
			
			@include land-mobile{
				height: unset;
			}
		}
		&-2{
			height: 50vh;

			@include land-mobile{
				height: unset;
			}
		}
	}

	&__text{
		color: $primary-light;
		text-align: center;
		text-transform: uppercase;
		font-size: 3.5rem;

		@include media(420px){
			font-size: 3rem;
		}
		
		@include media(320px){
			font-size: 2.5rem;
		}

		@include land-mobile{
			font-size: 2.5rem;
		}

		& > span {
			color: $purpel;
		}
	}

	&__subtext{
		font-size: .6rem;
		padding-top: 1rem;
		margin-bottom: 0;
	}

	&__img{
		&-1{
			width: 82%;
			max-width: 600px;
			position: absolute;
			bottom: 0;
			
			@include media(990px){
				position: relative;
				bottom: 0;
				max-width: fit-content;
			}
			@include media(760px){
				display: none;
			}
			
			&--container{
				@include land-mobile{
					display: none;
				}
			}
		}
		&-2{
			&--container{
				text-align: end;
				padding-left: 1rem;
			
				@include media(990px){
					display: flex;
					justify-content: center;
					align-content: center;
					align-items: flex-end;
				}

				@include land-mobile{
					flex: 0 0 100%;
    				max-width: 100%;
				}
			}
			height: 100%;
			
			@include media(990px){
				height: unset;
				width: 100%;
    			max-width: fit-content;
			}

			@include land-mobile{
				width: 30%;
			}
			&--resLand{
				@include land-mobile{
					width: 30%;
				}
			}
		}

	}

	&__btn{
		width: 25%;
		margin-top: 2rem;

		@include media(600px){
			width: 40%;
		}

		&-container{
			width: 95%;
    		text-align: center;
		}
	}
}