.doctor{
	padding-top: 10px;
	padding-bottom: 10px;
	background-size: cover;
	text-align: center;

	&__row{
		height: 100%;
	}

	&__section{
		&-container{
			height: 100%;
			padding: 2rem;
    		margin: 2rem;
			background-color: $white;
			box-shadow: $shadow-light;

			@include media(460px){
    			margin: unset;
			}
		}

		&-title{
			text-align: start;
			color: $purpel-dark;
			font-size: 1.5rem;

		}

		&-subtitle{
			font-size: 2.5rem;
			color: $purpel;
			text-align: start;
			font-weight: bold;
			margin-bottom: 1rem;
			
			& > span {
				color: $orange;
			}
		}

		&-text{
			font-size: 1rem;
			text-align: start;
			margin-bottom: 1rem;
		}
	}

	&__img{
		&-2{
			width: 50%;
    		max-height: 100%;
		}
	}
}