.header{
	@include media(990px){
		padding: 0;
	}

	&__sections{
		&-1{
			height: 25vh;

			@include media(990px){
				display: inline;
			}
		}
		&-2{
			height: 75vh;

			@include media(990px){
				display: inline;
			}
		}
	}

	&__head{
		&-container{
			display: flex;
  			justify-content: center;
		}

		&-box{
			width: 50%;
			margin-top: 10px;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;

			@include media(460px){
				width: 100%;
			}

			@include land-mobile{
				width: unset;
				margin-top: 0;
			}
		}

		&-title{
			text-transform: uppercase;
			display: block;
			font-size: 3.9rem;
			line-height: .79;
			color: $primary;

			@include media(460px){
				font-size: 2.9rem;
			}

			@include land-mobile{
				font-size: 2.5rem;
			}

			& > span{
				font-size: 8.2rem;
				display: block;
				font-weight: 600;
				color: $purpel;
			
				@include media(460px){
					font-size: 6.2rem;
				}

				@include land-mobile{
					font-size: 5.3rem;
				}
			}
		}
		
	}
	
	&__subtitle{
		&-container{
			display: flex;
  			justify-content: center;
			align-items: center;
		}

		&-box{
			z-index: 1;

			@include media(967px){
				width: 100%;
			}
		}

		&-text{
			text-align: center;
			font-size: .95rem;
			color: $black;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			margin-bottom: 0;

			@include media(460px){
				font-size: .67rem;
			}

			@include land-mobile{
				font-size: .6rem;
			}

			& > img {
				margin-left: 10px;

				@include media(650px){
					margin-left: unset;
				}

				@include land-mobile{
					height: 15px;
				}
			}
		}
	}

	&__middle{
		&-container{
			display: flex;
  			justify-content: center;
			
			@include media(990px){
				padding-top: 3rem;
			}
		}

		&-box{
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			flex-wrap: wrap;
		}
	}

	&__info{
		margin-top: -10%;

		&-container{
			display: flex;
			justify-content: flex-end;
			align-items: center;
			line-height: 1.2;
			width: 80%;
			padding: .5rem;
			margin-top: 1rem;
			background-color: $primary;
			margin-left: -2rem;
			z-index: 0;

			@include media(1211px){
				margin-left: 0;
			}
			
			@include media(1169px){
				width: 90%;
			}
			
			@include mediaM(1432px){
				margin-left: -4rem;
			}

			@include media(990px){
				margin-top: .4rem;
			}
			
			@include media(540px){
				width: 96%;
			}

			@include land-mobile{
				width: 60%;
			}

			&.light{
				background-color: $primary-light;
			}
		}

		&-box{
			width: 100%;
			
			@include media(990px){
				position: absolute;
				top: -225%;
				width: 80%;
				right: 0;
			}
			
			@include media(375px){
				top: -185%;
			}

			@include land-mobile{
				top: -167%;
				width: 85%;
			}
			
			@include land-iphone5{
				top: -155%;
				width: 85%;
			}
		}

		&-text{
			display: block;
			margin-bottom: 0;
			text-align: end;
			margin-right: 1.5rem;
			color: $white;
			text-transform: uppercase;
    		font-size: 1.5rem;

			@include media(450px){
				margin-right: 0.5rem;
			}

			@include media(375px){
				font-size: 1rem;
			}

			@include land-mobile{
				margin-right: .5rem;
				font-size: 1rem;
			}
			
			& > span{
				display: block;
				font-size: 1.2rem;
				color: $white-light;
				font-family: 'Gotham_light';
			
				@include media(375px){
					font-size: 0.8rem;
				}

				@include land-mobile{
					font-size: .9rem;
				}
			}
		}

		&-side{
			display: flex;
			height: 100%;
			font-size: 2.2rem;
			font-weight: 800;
			margin-right: 1rem;
			color: $white;

			@include media(450px){
				margin-right: 0;
			}
			
			@include media(375px){
				font-size: 1.5rem;
			}

			@include land-mobile{
				font-size: 1.2rem;
			}
			
			& > span {
				font-size: 1.2rem;
				color: $white;
				align-self: flex-end;
			
				@include media(375px){
					font-size: 0.8rem;
				}

				@include land-mobile{
					font-size: .9rem;
				}
			}
		}
	}

	&__footer{
		width: 100%;
		height: 1px;

		@include media(990px){
			height: unset;
			width: 90%;
			margin: 0 auto;
			margin-top: 1rem;
		}

		&-container{
			position: relative;
			width: 100%;
			background: $purpel;
			box-shadow: $shadow-dark;
			z-index: 1;

			@include media(990px){
				margin-top: 1rem;
				margin-bottom: 1rem;
			}

			&::before{
				content: "";
				position: absolute;
				top: -0.25rem;
				right: -1.9rem;
				z-index: 1;
				border-top: 2rem solid transparent;
				border-bottom: 2rem solid transparent;
				border-left: 2.2rem solid $purpel;
				border-radius: 1rem;
				
				@include media(990px){
					border: unset;
				}
			}
		}

		&-oferta{
			&--container{
				display: flex;
				justify-content: flex-end;
				align-items: center;
				padding-bottom: 5px;
			}
			&--text{
				font-size: 1rem;
				display: flex;
				justify-content: flex-end;
				align-items: flex-end;

				& > img {
					@include media(990px){
						margin-left: 10px;
					}
				}
				
				@include media(990px){
					justify-content: center;
					align-items: center;
				}
			}
		}

		&-text{
			display: block;
			font-size: 1rem;
			color: $white;
			line-height: 1.2;
			text-align: center;
			margin-left: 40%;
			padding: 1.15rem 0;

			@include media(990px){
				margin-left: unset;
			}
		
			& > span{
				text-transform: uppercase;
				display: inline-block;
				color: inherit;
			}
		}
	}

	&__form{
		&-section{
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			height: 100%;

			@include media(990px){
				height: unset;
				justify-content: flex-start;
				padding-bottom: 15px;
			}
		}
		
		&-container{
			width: 100%;
			padding: 1.2rem;
			background-color: $white;
			padding-bottom: 0px;

			@include media(990px){
				margin-bottom: 1rem;
			}
		}

		&-title{
			background-color: $primary;
			color: $white;
			padding: 15px 0;
			font-size: 1.2rem;
			text-align: center;
		}

		&-input{
			height: 45px;
			box-shadow: $shadow-light;
			font-size: 16px;
		}

		&-subtext{
			font-size: .8rem;
			color: $grey;
		}
	}

	&__mobile-btn{
		position: absolute;
		right: 5%;
		top: -65%;
		z-index: 5;

		@include media(582px){
			font-size: 1rem;	
		}
		
		@include media(320px){
			font-size: .8rem;
    		right: 3%;
		}

		@include land-mobile{
			right: 10%;
			top: -80%;
		}

		@include land-iphone5{
			right: 4%;
    		top: -73%;
		}
	}

	&__img{
		&-container{
			height: inherit;
			position: relative;
			padding-left: 0;
		}

		&-logo{
			max-height: 125px;
			max-width: 125px;
			position: absolute;
			right: 0;
			top: 0;

			@include media(650px){
				top: 11rem;
			}

			@include land-mobile{
				top: 0rem;
				right: 0rem;
				width: 100px;
				height: 100px;
			}
		}

		&-1,
		&-2{
			position: absolute;
		}

		&-1{
			width: 25rem;
			bottom: 0;
			z-index: 1;

			@include media(460px){
				width: 18rem;
			}

			@include land-mobile{
				width: 19rem;
			}

			@include land-iphone5{
				width: 15rem;	
				bottom: 4rem;
			}
		}

		&-2{
			width: 20rem;
			bottom: -1.5rem;
			left: 40%;
			z-index: 2;

			@include media(990px){
				left: 5%;
    			bottom: 0%;
			}

			@include media(460px){
				right: 1%;
				bottom: 0.5rem;
				width: 16rem;
			}

			@include land-mobile{
				width: 14rem;
				left: 16%;
				bottom: 2.5rem;
			}

			@include land-iphone5{
				width: 11rem;
				bottom: 3.5rem;
			}
			
		}
	}
	
}