.height-full{
	height: 100vh;
}

.btn__custom{
	padding: 11px;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-family: Gotham_light;
    width: 50%;
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: -1px 3px 10px #2f2e2e;
}

.form-control:focus{
    background-color: #fff3d9;
    border-color: #ff8804;
}
