.hide_Mobile{
    &-block,
    &-flex{
        @include media(990px){
            display: none;
        }
    }
}

.no_position_mobile{
    @include media(990px){
		position: unset;
		padding: 0;
    	min-height: 0;
    }
}