.questions{
	display: flex;
    justify-content: center;
	padding: 1rem 0;

	&__row{
		width: 95%;
	}

	&__btn{
		&-container{
			margin-top: 1.5rem;
			text-align: center;
		}
	}

	&__doctor{
		&-container{
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			align-content: center;
			justify-items: center;

			@include media(990px){
				height: 90%;
			}
		}
		
		&-img{
    		width: 100%;
    		max-width: max-content;
		}
	}

	&__container{
		background-color: $white;
		text-align: center;
		box-shadow: $shadow-dark;
		font-size: 1.2rem;
		margin: 0 auto;
	}

	&__title{
		background-color: $purpel;
		color: $white;
		text-transform: uppercase;
		padding: 1rem;
		margin-top: 1.5rem;
		font-size: 1.5rem;
	}

	&__results{
		display: none;
		margin-bottom: 15px;
		padding: 15px;
		width: 100%;
		max-width: 500px;

		&-text{
			text-align: justify;
			padding: 1rem;
    		font-size: 1rem;
		}

		&-img{
			width: 50%;
		}
	}
}