.questions{
	display: flex;
    justify-content: center;
	padding: 1rem 0;

	&__row{
		width: 95%;
	}

	&__container{
		background-color: $white;
		text-align: center;
		box-shadow: $shadow-dark;
		font-size: 1.2rem;
	}

	&__title{
		background-color: $purpel;
		color: $white;
		text-transform: uppercase;
		padding: 1rem;
		margin-top: 1.5rem;
		font-size: 1.5rem;
	}

	&__results{
		display: none;
		margin-bottom: 15px;
		padding: 15px;
		width: 100%;
		max-width: 500px;

		&-text{
			text-align: justify;
			padding: 1rem;
    		font-size: 1rem;
		}

		&-img{
			width: 50%;
		}
	}
}